/* Post Slider styles */

.postslider {
  position: relative;
  height: 360px;
  margin: 0 auto 30px;
  overflow: hidden;
  border-radius: 2px;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.postslider-inner {
  width: 100%;
  height: 100%;
}

.postslider-item {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: left;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.postslider-item-content {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 50px 30px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}

.postslider-item-content p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #fff;
}

.postslider-item-content .postslider-heading {
  font-size: 30px;
}

.postslider-heading a,
.postslider-item-content a,
.postslider-heading a:visited,
.postslider-item-content a:visited {
  color: #fff;
  text-decoration: none;
}

.postslider-button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.currentSlide {
  z-index: 100;
  opacity: 1;
}

.hiddenSlide {
  z-index: 1;
  opacity: 0;
}

.arrow {
  position: absolute;
  top: 0;
  z-index: 999;
  display: block;
  width: 30px;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
  background-position: 50% 50%;
  background-size: cover;
  opacity: 0.5;
  -webkit-tap-highlight-color: transparent;
}

.arrow:hover {
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
  opacity: 1;
}

.arrow::before {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: url('../assets/arrow.png') no-repeat;
  filter: brightness(0) invert(1);
  background-position: 10px 50%;
  background-size: 10px;
}

.arrow-prev {
  left: 0;
}

.arrow-next {
  right: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media screen and (min-width: 560px) {
  .postslider {
    height: 480px;
  }

  .postslider-item-content {
    padding: 0 50px 50px;
  }

  .arrow {
    width: 50px;
  }

  .arrow::before {
    background-position: 50% 50%;
    background-size: 20px;
  }

  .postslider-item-content .postslider-heading {
    font-size: 24px;
  }
}
